<h1>New Trip Entry</h1>

<%= form_for :trip, :url=>trips_path do |f| %>
    <p>
      <%= f.label :traveller %>
      <%= f.text_field :traveller %>
    </p>
    <p>
      <%= f.label :from %>
      <%= f.text_field :from %>
    </p>
    <p>
      <%= f.label :to %>
      <%= f.text_field :to %>
    </p>
    <%= f.submit :submit %>

<% end %>



