<h1>New Trip Entry</h1>

<%= form_for :trip,url:trips_path do |f| %>
    <p>
      <%= f.label :From %><br>
      <%= f.text_field :from %>
    </p>

    <p>
      <%= f.label :To %><br>
      <%= f.text_field :text %>
    </p>

    <p>
      <%= f.label :Amount %><br>
      <%= f.text_field :amount %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>