<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h1>Comments</h1>
<%= @article.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
    <%= comment.body %>
    </p>
<% end %>

<h2>Add comment</h2>
<%=form_for ([@article,@article.comments.build]) do |f|  %>
  <div class="form-group">
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="form-group">
    <%= f.submit%>
  </div>


<% end %>

<p>
  <%= link_to 'Edit',edit_article_path(@article)  %> |
  <%= link_to 'Back',articles_path %>
</p>
