<h1>This is the registration page for Person </h1>
<div>
  <%= form_for :person,  url:articles_path do |f| %>
    <p>
      <%=f.label :first_name   %>
      <%=f.text_field :first_name   %>
    </p>

    <p>
        <%=f.label :last_name   %>
        <%=f.text_field :last_name   %>
    </p>

    <p>
      <%= f.submit  %>
    </p>
  <% end %>
</div>