<h1><%= I18n.t("welcome.login-message") %></h1>
<div class="form-group">
  <%= form_for 'identity',url: '/authenticate' do |f|%>
      <p>
        <%= f.label "username"%>
        <%=  f.text_field :username, :placeholder => "#{I18n.t('enter.username')}" %>
      </p>
      <p>
        <%= f.label "password" %>
        <%= f.password_field :password, :placeholder =>"#{I18n.t('enter.password')}" %>
      </p>

      <%= f.submit :value => "#{I18n.t('enter.submit')}"%>
      <%= f.submit :value =>"#{I18n.t('enter.clear')}", :type =>'reset'%>
  <% end %>
</form>
</div>
